@media (max-width: 600px){
    #page-home .content{
        padding: 0;
        box-sizing: border-box;
        display: block;
    }

    #page-home main a{
        margin-bottom: 50px;
        margin-top: 170px;
    }
    
    #page-create-point form{
        background-color: white;
        margin: 80px auto;
        padding: 34px;
        border-radius: 8px;
        max-width: 730px;
        box-sizing: border-box;
    }
    #page-create-point .items-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
    #modal .content {
        color: white;
        width: 290px;
        margin: 40px;
    }
    #page-home main p {
        margin-bottom: -150px;
    }
    
}

@media (max-width:900px){
    #page-home{
        background-position-x:70vw ;
    }
    #page-home .content{
        align-items: center;
        text-align: center;
    }
    #page-home header a{
        position: absolute;
        bottom: 48px;

        left: 50%;
        transform: translateX(-50%);
    }
    #page-home main {
        align-items: center;
    }
    #page-search-result .cards{
        grid-template-columns: 1fr;
    }
    #page-search-result .cards img{
        height: 250px;
    }
    #page-create-point .field-group{
        flex-direction: column;
    }
    #page-create-point .field-group .field + .field{
        margin-left: 0;
    }
    
}

@media (min-width: 1700px){
    #page-home{
        background-position-x:40vw ;
    }
}

@media (max-height: 760px){
    #page-home{
        background-position-y:200px;
    }
}

